<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--本地用-->
     <!--<add key="WMS_Database_Path" value="Data Source = .;" />
     <add key="WMS_AoyouDatabase_Path" value="Data Source = .;" />-->
    <add key="WMS_Database_Path" value="Data Source = .\SQL2012;" />
    <add key="WMS_AoyouDatabase_Path" value="Data Source = .\SQL2012;" />
     <add key="WMS_SvrAddr" value=" http://localhost/WMSSvc" />
     <add key="MES_SvrAddr" value=" http://localhost/MESSvc" />
     <add key="ERP_SvrAddr" value=" http://localhost:2008/WMS-To-ERPSvc" />
  </appSettings>
</configuration>