<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--本地用-->
    
    <add key="WMS_Database_Path" value="Data Source = .;" />
     <add key="WMS_SvrAddr" value=" http://localhost/WMSSvc" />
     <add key="WMS_To_ERP_SvrAddr" value=" http://localhost/WMS_To_ERP_Svc" />
  </appSettings>
</configuration>